body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100%;
  width: 100%;
}


/* h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 40px;
} */


nav {
  background-color: #0799d3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
/*  width: 20%;*/
  z-index: 1;
  display: none;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
/*  overflow: hidden;*/
}

label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: #0799d3;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  transition: transform .5s ease-in-out;
}



.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, .7);
}

.navAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 20px 0;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

.navAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

.navAnchor:hover {
  color: #0799d3;
}

.navAnchor:hover::after {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .content {
  transform: translateX(20%);
  background-color: #eee;
}

/* ~ selector binds the animation to sibling with the class content */

input[type="checkbox"]:unchecked ~ nav {
display: none;
}

input[type="checkbox"]:checked ~ nav {
display: block;
width: 20%;
}



input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}


/* flexbox stuff */

.section-container {
	width: 100%;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.section-container h1, h2 {
  color: white;
  font-size: 6em;
}

.section-container > h2:first-child {
  flex: 1 0 100%;
}

.sectionIntro h2 {
  color: white;
 
}
.sectionIntro p {
	font-size: 24px;
	text-align: center;
	color: white;
}


.sectionIntro {
background-color: black;
background: linear-gradient(black, white);
background: url(../img/face-floor.jpg); 
background-size: cover;
}
.sectionWeb{
background-color: blue;
}
.sectionGraphicDesign {
  background-color: red;
  }
.sectionPhotography {
  background-color: blue;
  }
.sectionMarketing {
  background-color: red;
  }