* {
  box-sizing: border-box;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* all content container */
section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}


/* content not navigation */
.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(136, 106, 49, 0.384);
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height set in media query */
}

.section-container {
  /* height set in media query */
 height: 100vh;
}


.sectionContent {
  width: 50%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionContent h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 6em;
  margin: 0;
  text-align: center;
}

.sectionContent p {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}





/* navigation */
nav {
  background-color: #0f5e7e;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-top: 100px;
  text-align: left;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
}

.navAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  padding: 20px 0;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s 0.15s ease-in;
}

.navAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width 0.3s ease-in;
  z-index: -1;
}

.navAnchor:hover {
  color: #0799d3;
}

.navAnchor:hover::after {
  width: 100%;
}


/* label stuff here used for menu display  */
label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: #ffffff;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  margin: 8px auto;
  transition: background-color 0.6s ease-in, transform 0.6s ease-in,
    width 0.6s ease-in;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .content {
  background-color: #eee;
}

/* ~ selector binds the animation to sibling with the class content */

input[type="checkbox"]:unchecked ~ nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

/* was 15px now 25 due to scaling */

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-25px) rotateZ(-45deg);
  -moz-transform: translateY(-25px) rotateZ(-45deg);
  -ms-transform: translateY(-25px) rotateZ(-45deg);
  -o-transform: translateY(-25px) rotateZ(-45deg);
  transform: translateY(-25px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}



.button{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .5rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #111;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
margin-top: 3rem;
  /* margin-right: 1.5rem!important; */
  padding: 1.25rem 2.5rem;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  font-weight: 700;
  text-decoration: none;
}


.svgcontainer{  
  margin-top: 3rem;
  margin-bottom: 2rem;
   background-size: cover;
  height: 0;
  padding: 0; /* reset */
 /* width in media query */
 /* width: 20%;
 padding-bottom: 20%; */

}

.svgintro{
   background-image: url(../img/svg/svgintro.svg);
 }
 .svgweb{
  background-image: url(../img/svg/svgweb.svg);
}

.svggraphics{
  background-image: url(../img/svg/svggfx.svg);
}

.svgphotography{
  background-image: url(../img/svg/svgphoto.svg);
}

.sectionIntro h1, h2 {
  color: white;
}

.sectionIntro p {
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.sectionWeb h1, h2 {
  color: white;
}

.sectionWeb p {
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.sectionGraphicDesign h1, h2 {
  color: white;
}

.sectionGraphicDesign p {
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.sectionPhotography h1, h2 {
  color: white;
}

.sectionPhotography p {
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}



/* media queries */
/* mobile default */

.section-container { height: 100vh; }

.sectionIntro { 
  background-color: #20a0d3; 
  background: url(../img/background/roadbg.jpg);
  background-size: cover;
} 

.sectionWeb { 
  background-color: #0c465e; 
  background: url(../img/background/wallbg.jpg);
  background-size: cover;
} 

.sectionGraphicDesign { 
  background-color: #494e50; 
  background: url(../img/background/pierbg.jpg);
  background-size: cover;
} 

.sectionPhotography{ 
  background-color: #635d40; 
  background: url(../img/background/skybg.jpg);
  background-size: cover;
} 


input[type="checkbox"]:checked ~ .content { transform: translateX(50%); }
input[type="checkbox"]:checked ~ nav { width: 50%; }

.svgcontainer{  
  width: 40%;
  padding-bottom: 40%;
}



@media (min-width: 576px) {
  .sectionIntro { background-color: #857e76; }    
  input[type="checkbox"]:checked ~ .content {
    transform: translateX(40%);
  }

  input[type="checkbox"]:checked ~ nav {
    width: 40%;
  }

  .svgcontainer{  
    width: 35%;
    padding-bottom: 35%;
  }
  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sectionIntro { background-color: green; }
  /* Animate content position when menu is showing  */
  input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);
  }

  input[type="checkbox"]:checked ~ nav {
    width: 20%;
  }

  .svgcontainer{  
    width: 30%;
    padding-bottom: 30%;
  }
  

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .sectionIntro { background-color: orange; }

  /* Animate content position when menu is showing  */
  input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);
  }

  input[type="checkbox"]:checked ~ nav {
    width: 20%;
  }

  .svgcontainer{  
    width: 20%;
    padding-bottom: 20%;
  }

  
 }